{% extends "generic/base.html" %}
{% load i18n static generic_ui %}

{% block bodyclass %}page-password-change{% endblock %}

{% block content %}
  <form method="post" class="generic-form" novalidate style="max-width: 40rem;">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="form-errors" role="alert">
        {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
      </div>
    {% endif %}

    <fieldset class="fieldset">
      <legend class="fieldset__title">{% translate "Your password" %}</legend>
      <p class="fieldset__description">
        {% translate "Enter your current password, then the new one twice so we can check you typed it correctly." %}
      </p>

      {% for field in form %}
        <div class="form-row">
          <div class="field-box{% if field.errors %} field-box--errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}<p class="field-errors">{{ error }}</p>{% endfor %}
            {% if field.help_text %}<div class="field-help">{{ field.help_text }}</div>{% endif %}
          </div>
        </div>
      {% endfor %}
    </fieldset>

    <div class="submit-row">
      <div class="submit-row__start"></div>
      <div class="submit-row__end">
        <a class="button button--ghost" href="{{ cancel_url }}">{% translate "Cancel" %}</a>
        <button type="submit" class="button button--primary">
          {% icon "key" %}
          {% translate "Change my password" %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
