{% load static %}
{# What a page rendering a schema form needs. jQuery only for Select2. #}
<script src="{% static 'generic/vendor/jquery/jquery.min.js' %}" defer></script>
<script src="{% static 'generic/vendor/select2/select2.min.js' %}" defer></script>
<script src="{% static 'generic/js/select2.js' %}" defer></script>
<script src="{% static 'generic/js/forms/widgets.js' %}" defer></script>
<script src="{% static 'generic/js/forms/inlines.js' %}" defer></script>
<script src="{% static 'generic/js/forms/form.js' %}" defer></script>
